.c-nav-inner {
  margin: 0;
  margin-bottom: gutter();
  list-style-type: none;
  text-align: center;

  li {
    display: inline-block;
    cursor: pointer;
    font-size: rem(16);
    color: $color-white;
    margin-right: $base-spacing-unit;

    &:last-child {
      margin-right: 0;
    }

    &.current::after {
      // color: red;
      display: block;
      content: "";
      width: 100%;
      height: 10px;
      background-image: url("../images/ui-selected.png");
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  @include breakpoint($bp-large) {
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));

    li {
      font-family: $font-dancing;
      font-size: rem(35);
    }

  }

}
