// Hide map iframe for mobile
.c-location__map {
  display: none;
}

@include breakpoint($bp-large) {

  .c-location {
    @include clearfix;
  }
  .c-location__content {
    @include span(4 of 12);
  }
  .c-location__map {
    display: block;
    @include span(8 of 12);
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

}
