.c-contact-list {
  display: none;
  margin: 0;
  list-style-type: none;
  text-align: center;

  li {
    font-size: rem(18);
    font-family: $font-dancing;
    margin-bottom: rem(10);
  }

  .icon {
    position: relative;
    top: 4px;
  }

  @include breakpoint($bp-large) {

    display: block;

    li {
      display: inline-block;
      font-size: rem(24);
      font-family: $font-dancing;

      &::after {
        display: inline-block;
        content: "\2014";
        color: $color-white;
        margin-left: rem(10);
        margin-right: rem(5);
      }

      &:last-child::after {
        content: "";
      }
    }

  }

}