.c-nav-inner {

  @include breakpoint($bp-large) {
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));
  }

  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
    cursor: pointer;
    font-family: $font-dancing;
    font-size: rem(35);
    color: $color-white;
    margin-right: $base-spacing-unit;

    &:last-child {
      margin-right: 0;
    }
  }

}