@include breakpoint($bp-large) {

  .c-promotions {
    @include span(12);
  }

}

.c-promotions__item {
  margin-bottom: gutter();
  border-bottom: 1px solid rgba($color-white, 0.5);

  &:last-child {
    margin-bottom: 0;
    border-bottom-width: 0;
  }
}
