.c-language {
  @include clearfix;
  list-style-type: none;
  margin: 0;

  @include breakpoint($bp-mobile-only) {
    position: fixed;
    bottom: 20px;
    left: 5%;
    z-index: 1;
  }

  @include breakpoint($bp-large) {
    position: absolute;
    top: 0;
    right: 0;
  }

  li {
    float: left;
    font-family: $font-lato;
    font-size: rem(14);
    font-weight: 700;

    &:last-child::before {
      display: inline-block;
      content: "\2014";
      color: $color-white;
      margin-left: rem(5);
      margin-right: rem(5);
    }
  }

}
