// Component Box

.c-box {
  @include span(12);
  margin-bottom: $base-spacing-unit;
  padding: $base-spacing-unit;

  background-color: $color-brown;
  border-radius: 5px;
  color: $color-white;
  font-size: rem(14);

  @include breakpoint($bp-large) {
    @include span(6 of 12);
    background-image: url('../images/c-box-bg.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 2rem;
    min-height: 226px;
  }
}

.c-box__image {
  text-align: center;
  margin-bottom: $base-spacing-unit / 2;

  @include breakpoint($bp-large) {
    float: left;
    margin-right: 1rem;
    padding-left: 1rem;
  }
}

.c-box__copy {
  font-family: $font-lato;

  strong {
    display: block;
    padding-bottom: rem(5);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid $color-white;

    @include breakpoint($bp-large) {
      border-width: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 6px;
  }

}
