.c-button {
  display: inline-block;
  cursor: pointer;
  font-family: $font-fugaz;
  font-size: rem(20);
  color: $color-text-green;
  @include linear-gradient($color-green-top, $color-green-bottom);
  padding: rem(5) rem(15);
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba($color-white, 0.7);

  &:hover, &:focus {
    @include linear-gradient($color-green-toph, $color-green-bottomh);
    outline: none;
    color: $color-text-green;
  }
}
