.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arrow-right {
  width: 0.4375em;
}

.icon-arrow-left {
  width: 0.4375em;
}

.icon-chevron-right {
  width: 0.6787109375em;
}

.icon-chevron-left {
  width: 0.75em;
}

.icon-angle-down {
  width: 0.642578125em;
}

.icon-chevron-circle-right {
  width: 0.857421875em;
}

.icon-chevron-circle-left {
  width: 0.857421875em;
}

.icon-angle-right {
  width: 0.3388671875em;
}

.icon-angle-left {
  width: 0.375em;
}

.icon-facebook {
  width: 0.587890625em;
}

.icon-spinner {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 1;
  fill: white;
  width: 1.5em;
  height: 1.5em;
}
