.site {
  padding-top: $base-spacing-unit;
}

.site-content {
  position: relative;

  @include breakpoint($bp-large) {
    // padding-bottom: 240px;

    // // different padding because the bg image has a different height
    // .page-template-cabins & {
    //   padding-bottom: 130px;
    // }

    // .c-bottom {
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   background-image: url('../images/bg-footer.png');
    //   background-repeat: no-repeat;
    //   background-position: bottom center;
    //   width: 100%;
    //   height: 237px;
    // }
  }

}

.site-main {
  @include container;

  @include breakpoint($bp-mobile-only) {
    margin-left: gutter();
    margin-right: gutter();
  }
}

.entry-title {
  font-size: rem(35);
  font-family: $font-dancing;
  font-weight: 400;
  color: $color-white;
  text-align: center;

  @include breakpoint($bp-large) {
    font-size: rem(70);
    text-align: left;
  }
}

.entry-header {
  position: relative;
}

.entry-content {
  @include clearfix;
  padding-left: gutter();
  background-color: rgba($color-brown, 0.8);
  color: $color-white;
  border-radius: $base-border-radius;

  // homepage
  .home & {
    background-color: transparent;
  }

  @include breakpoint($bp-mobile-only) {
    padding: gutter() * 2;
    margin-bottom: gutter() * 2;
  }

  @include breakpoint($bp-large) {
    padding-top: gutter();
    padding-bottom: gutter();

    .home & {
      background-color: transparent;
    }
  }

  h2, h3, h4, h5, h6 {
    font-family: $font-dancing;
    font-weight: 400;
  }
}
