// Settings
@import "settings-global";

// Mixins
@import "bourbon";
@import "breakpoint";
@import "susy";

// Generic
@import "generic-box-sizing";
@import "generic-normalize";
@import "generic-reset";
@import "generic-shared";

// Elements
@import "page";
@import "elements-links";
@import "elements-icons";

// Slick
@import "slick";
@import "slick-theme";

// Accessibility
@import "accessibility";


// Site

.site {
  padding-top: $base-spacing-unit;
}

// Header

.site-header {
  @include container;
  position: relative;
}

.site-title {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/ui.png');
  width: 256px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(10);

  a {
    display: block;
    width: 256px;
    height: 71px;
  }
}

.site-description {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/ui.png');
  background-position: -16px -71px;
  width: 232px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    width: 232px;
    height: 16px;
  }
}

// Theme
body {
  background-color: $color-beige;
}


// Footer

.site-info-contact {
  margin: 0;
  list-style-type: none;
  text-align: center;

  li {
    font-size: rem(13);
    color: $color-white;
    line-height: $base-line-height;
  }

  @include breakpoint($bp-large) {
    position: relative;
    z-index: 1;
    margin-top: -30px;

    li {
      display: inline-block;

      &::after {
        display: inline-block;
        content: "\2014";
        color: $color-white;
        margin-left: rem(5);
        margin-right: rem(5);
      }

      &:last-child::after {
        content: "";
      }
    }
  }

}

.site-info {
  @include container;
  @include clearfix;
  text-align: center;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;

  @include breakpoint($bp-large) {
    text-align: left;
  }

  span {
    color: $color-text-brown;
    font-size: rem(12);

    @include breakpoint($bp-large) {
      float: left;
    }
  }

  a {
    display: block;
    color: $color-text-blue;
    text-decoration: none;
    font-size: rem(12);

    @include breakpoint($bp-large) {
      float: right;
    }

  }

}

// site content

.site-content {
  position: relative;

  @include breakpoint($bp-large) {
    padding-bottom: 240px;

    .c-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url('../images/bg-footer.png');
      background-repeat: repeat-x;
      width: 100%;
      height: 237px;
    }
  }

}

.site-main {
  @include container;
}


// Page: Home

.page-template-home {

  .entry-content {
    text-align: center;
    font-family: $font-dancing;
    color: $color-white;
    font-size: rem(20);

    @include breakpoint($bp-large) {
      font-size: rem(40);
    }
  }
}


// components

@import "components-anchor-nav";
@import "components-language";
