// Settings
@import "settings-global";

// Mixins
@import "bourbon";
@import "breakpoint";
@import "susy";

// Generic
@import "generic-box-sizing";
@import "generic-normalize";
@import "generic-reset";
@import "generic-shared";

// Elements
@import "page";
@import "elements-links";
@import "elements-icons";

// Slick
@import "slick";
@import "slick-theme";

// Accessibility
@import "accessibility";


// Header

.site-header {
  @include container;
  position: relative;
}

.site-title {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/ui.png');
  width: 256px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(10);

  a {
    display: block;
    width: 256px;
    height: 71px;
  }
}

.site-description {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/ui.png');
  background-position: -16px -71px;
  width: 232px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    width: 232px;
    height: 16px;
  }
}

// Navigation

.menu {
  margin: 0;
  padding-top: rem(10);
  padding-bottom: rem(10);
  list-style-type: none;
  text-align: center;
  @include clearfix;

  li {
    display: inline-block;
    margin-right: $base-spacing-unit;
    text-transform: uppercase;
    font-family: $font-lato;
    font-weight: 700;
    font-size: rem(16);

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($bp-large) {
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
  }

}

// Language Switcher

.c-language {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
    font-family: $font-lato;
    font-size: rem(13);
    font-weight: 700;
  }

  @include breakpoint($bp-large) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Theme
body {
  background-color: $color-beige;
}


// Footer

.site-info-contact {
  margin: 0;
  list-style-type: none;
  text-align: center;

  li {
    font-size: rem(13);
    color: $color-white;
    line-height: $base-line-height;
  }

  @include breakpoint($bp-large) {
    li {
      display: inline-block;

      &::after {
        display: inline-block;
        content: "\2014";
        color: $color-white;
        margin-left: rem(5);
        margin-right: rem(5);
      }

      &:last-child::after {
        content: "";
      }
    }
  }

}

.site-info {
  @include container;
  @include clearfix;
  text-align: center;

  @include breakpoint($bp-large) {
    text-align: left;
  }

  span {
    color: $color-text-brown;
    font-size: rem(12);

    @include breakpoint($bp-large) {
      float: left;
    }
  }

  a {
    display: block;
    color: $color-text-blue;
    text-decoration: none;
    font-size: rem(12);

    @include breakpoint($bp-large) {
      float: right;
    }

  }


}
