// Settings
@import "settings-global";

// Mixins
@import "bourbon";
@import "breakpoint";
@import "susy";

// Generic
@import "generic-box-sizing";
@import "generic-normalize";
@import "generic-reset";
@import "generic-shared";

// Elements
@import "page";

// Slick
@import "slick";
@import "slick-theme";


// Header

.site-title {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/ui.png');
  width: 256px;
  height: 71px;

  a {
    display: block;
    width: 256px;
    height: 71px;
  }
}

.site-description {
  // image replacement
  border:0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  // image
  background-image: url('../images/ui.png');
  background-position: -16px -71px;
  width: 232px;
  height: 16px;

  a {
    display: block;
    width: 232px;
    height: 16px;
  }
}

// Navigation

.menu {
  list-style-type: none;
  margin: 0;
  @include clearfix;

  li {
    float: left;
    margin-right: $base-spacing-unit;
    text-transform: uppercase;
    font-family: $font-lato;
    font-weight: 700;
    font-size: rem(16);

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-beige;
    }
  }

}

// Theme
body {
  background-color: $color-beige;
}
